*{
margin: 0;
padding: 0;

}

.main{
    
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(image/mx.jpg);
background-position: center;
background-size: cover;
height: 100vh;
width: 100%;
}
.navbar{
width: 1200px;
height: 75px;
margin: auto;

}

.icon{
width: 200px;
float: left;
height: 70px;

}

.logo{
color:blue;
font-size: 35px;
font-family: Arial;
padding-top: 10px;
float: left;
margin-top: 30px;
margin-left:-40px;


}

.menu{
width: 300px;
float: left;
height: 70px;

}

ul{
float: left;
display: flex;
justify-content: center;
align-items: center;

}
ul li{
list-style: none;
margin: 40px;
margin-top: 45px;
font-size: 25px;

}
ul li a {
text-decoration: none;
color: white;
font-family: Arial;
font-weight: bold;
transition: 0,4s ease-in-out;
margin-left: 50px;
margin-left: -40px;
}
ul li a:hover{
color: blue;

}
.search{
width: 330px;
float: left;
margin-left: 1000px;
margin-top: 1px;
position: absolute;

}
.srch{
font-family: 'Times New Roman';
width: 195px;
height: 20px;
background: transparent;
border: 1px solid blue;
margin-top: 13px;

color:#fff;
border-right: none;
font-size: 18px;
float: left;
padding: 10px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;

}

.btn{
width: 100px;
height: 40px;
background: blue;
border: 2px solid blue;
margin-top: 13px;
color: white;
font-size: 15px;
border-bottom-left-radius: 5px;
border-top-left-radius: 5px;
}

.btn:focus{
outline: none;

}
.srch:focus{
    outline: none;
}

.content{
width: 1200px;
height: auto;
margin: auto;
color: azure;
position: relative;
padding-right: 190px;
padding-top: 50px;
}

.content .par{
padding-left: 30px;
padding-bottom: 25px;
font-family: Arial;
letter-spacing: 1.2px;
line-height: 30px;

}

.content h2{
font-family: 'Times New Roman';
font-size: 50px;
padding-left: 25px;
margin-top: 8%;
letter-spacing: 2px;

}

 .btn2{
    font-size: 14px;
    color: white;
    padding: 10px;
    border: 2px solid rgb(33, 8, 157);
    text-decoration: none;
    background-color: blue;
    border-radius: 4px;


}

.content a:hover{
    box-shadow: 3px 4px 10px black;
    padding:13px ;
    font-size: 16px;
}

.content h1{
    margin-top: 5%;
}

.new{
    color: rgb(6, 6, 164);
}

.form{

width: 250px;
height: 350px;
background: linear-gradient(to top, rgba(0,0,0,0.4)50%,rgba(0,0,0,0.4)50%);
position: absolute;
margin-top: 170px;
top: -10px;
left: 1100px;
border-radius: 18px;
padding: 20px;
}

.form h2{
width: 220px;
font-family: sans-serif;
text-align: center;
color:white;
font-size: 22px;
background-color:blue;
border-radius: 10px;
margin: 2px;
padding: 8px;

}

.form input{
width: 240px;
height: 35px;
background-color:rgb(18, 8, 8);
border-bottom: 1px solid blue;
border-top: none;
border-right: none;
border-left: none;
color: #fff;
letter-spacing: 1px;
margin-top: 30px;
font-family: sans-serif;

}

.form input:focus{
    outline: none;
}

::placeholder{
color: white;
font-family: Arial;
}

.btnn{
width: 240px;
height: 35px;
background-color: blue;
border: none;
margin-top: 25px;
font-size: 18px;
border-radius: 10px;
cursor: pointer;
color: #fff;
transition: 0.5s ease;
}


.btnn:hover{
background: white;
color: blue;

}

.btnn a{
text-decoration: none;
color:black;
font-weight: bold;

}

.form .link{
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
padding-top: 20px;
text-align: center;
}

.form .link a{
text-decoration: none;
color: blue;
;
}

.www{
padding-top: 10px;
text-decoration: 10px;
text-align: center;
cursor: pointer;

}


.icon{
margin-top: 10px;
margin-left:30px;
font-size:20px;
align-items: center;
justify-content: space-around;
cursor: pointer;

}
 #i2 {
background:linear-gradient(blue,red);
border-radius: 4px;
align-items: center;
justify-content: space-around;
margin-left: 15px;

}




.about{

    background-color: rgb(1, 1, 34);
    background-position: center;
background-size: cover;
height: 100vh;
width: 100%;
display: flex;
align-items: center;
justify-content: space-around;
margin: 0;

}


.about img{
height: 80vh;
width: 400px;
margin-top: 25px;
margin-left: 40px;


}

.about-text{
    color: #fff;
    margin-left: 50px;
    

}

#id1{
    
    position: relative;
color: #fff;
margin-bottom: 45px;
font-size:75px;

font-family: Arial;
text-transform: capitalize;
}

#id2{

    font-size: 30px;
    letter-spacing: 2px;
margin-bottom: 10px;
text-transform: capitalize;
}

#para{

letter-spacing: 2px;
line-height: 28px;
font-size: 18px;
margin-bottom: 45px;


}

.button7{
background-color:rgb(165, 15, 15) ;
color: #fff;
text-decoration: none;
border: 2px solid transparent;
font-weight: bold;
padding: 13px 30px;
border-radius: 30px;
transition: .4s;

}


.button7:hover{
background-color: transparent;
border: 2px solid red;
cursor: pointer;
}
.new2{
    color: rgb(160, 7, 7);
}

.main7{
    height: 100vh;
    background-image: url(image/5jbjguhhvel91.png);
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
   
}
.main8{
flex-wrap: wrap;
display: flex;
justify-content: center;
align-items: centers;
padding-top: 100px;
}
.box{
    background-color: white;
    height: 400px;
    width: 300px;
    margin-left: 40px;
    padding: 25px;
    border-radius: 10px;

}
.box:hover{
    background-color: white ;
    
    box-shadow: 5px 5px 20px black , -5px -5px 20px black;
}

.box{
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    padding-top: 20px;

}
.main8 h1{
    color: white;
    font-family: Arial;
    padding-bottom: 45px;
    padding-left: 35px;
    padding-top: 30px;
}

.main8 p{
    font-family: Arial, Helvetica, sans-serif;
    color:white;

}

.btn45{
    color: white;
    border: none;
    cursor: pointer;
    background-color:rgb(197, 14, 14);
    border-radius: 10px;
    padding: 10px;
    position: relative;
    bottom: 14px;
    margin-top: 25px;
    margin-left: 20px;
    left: 80px;
    top: 15px;
    box-shadow: 2px 3px 10px black;
}

#head{
    font-size: 65px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 60px;
    color:white;
    padding: 45px;
    padding-bottom: 1px;
    
}

.btn45:hover{
    border: 2px solid red;
    background-color:white;
    color:red;
    font-weight: bold;
    
}

#i3{
font-size: 60px;
margin-bottom: 0px;
margin-top: 0px;
color: red;
margin-left: 120px;

}
#i4{
    font-size: 50px;
color: red;
margin-left: 90px;
margin-bottom: 20px;

}

.me{
    
height: 30vh;
background:rgb(17, 16, 16);
display: flex;
align-items: center;
flex-direction: column;
justify-content: center;


}

.me p{
color: white;
font-size: 30px;
font-weight: bold;
margin-top: 25px;
font-family: sans-serif;
position: absolute;
margin-bottom: 45PX;
}

.me .button-two{
    background-color:red;
    color: white;
    border: 2px solid transparent;    
text-decoration: none;
font-weight: bold;
padding: 13px 30px;
transition: .4s;
border-radius: 30PX;
position: absolute;
margin-top: 80px;

}

.me .button-two:hover {
    border: 2px solid red;
    background-color:transparent;
    cursor: pointer;

}






